.square {
	background:red;
	width:50px;
	height:50px;
	float:left;
	border:0;
	margin:0;
	padding:0;
}

#wrapper {
	width:800px;
	height:800px;
	margin:50px auto;
}

#bgcolors {
}

#mousecolors {
	float:right;
}

#bothcolors {
	width:800px;
	margin:20px auto;
}

.backgroundSquare {
	width:50px;
	height:50px;
	float:left;
	border:0;
	margin:5px;
	padding:0;
}

.mouseSquare {
	width:50px;
	height:50px;
	float:left;
	border:0;
	margin:5px;
	padding:0;
}


.red {
	background:red;
}

.orange {
	background:orange;
}

.yellow {
	background:yellow;
}

.green {
	background:green;
}

.blue {
	background:blue;
}

.purple {
	background:purple;
}

#labels {
	width:800px;
	margin:auto;
	font-size:18px;
	margin-top:20px;
}

#left {
	padding-left:125px;
}

#right {
	padding-left: 300px;
}

#reset {
	clear:both;
	padding-top:20px;
	text-align:center;
}

#resetBtn {
	width:80px;
	height:35px;
	font-size:18px;
}

.selected {
	border: 2px solid #000000;
	box-shadow: 5px 5px 5px #888888;
}